<a href="#" class="super-button">Button</a>
<a href="#" class="super-button super-button--red">Red Button</a>
<a href="#" class="super-button super-button--blue">Blue Button</a>

<button class="super-button--green">Green Button</button>
<input type="submit" class="super-button--blue" value="Blue submit">
