{% set inputs = [
    "text",
    "email",
    "url",
    "password",
    "search",
    "number",
    "tel",
    "range",
    "date",
    "month",
    "week",
    "time",
    "datetime",
    "datetime-local",
    "color"
] %}

<form>
    <div class="grid">
        {% for key in inputs %}
            <div class="cell-6--phone-up cell-3--tablet-up">
                <div class="super-form-control">
                    <label>{{ key|capitalize }}</label>
                    <input type="{{ key }}">
                </div>
            </div>
        {% endfor %}

        <div class="cell-6--phone-up cell-3--tablet-up">
            <div class="super-form-control">
                <label>Select</label>
                <select>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
        </div>

        <div class="cell-6--phone-up cell-3--tablet-up">
            <div class="super-form-control">
                <label>Radio</label>
                <label class="radio-label"><input type="radio">Option one</label>
                <label class="radio-label"><input type="radio">Option two</label>
                <label class="radio-label"><input type="radio" disabled>Disabled</label>
            </div>
        </div>

        <div class="cell-6--phone-up cell-3--tablet-up">
            <div class="super-form-control">
                <label>Checkbox</label>
                <label class="checkbox-label"><input type="checkbox">Option one</label>
                <label class="checkbox-label"><input type="checkbox">Option two</label>
                <label class="checkbox-label"><input type="checkbox" disabled>Disabled</label>
            </div>
        </div>

        <div class="cell-12"></div>

        <div class="cell-6--phone-up">
            <div class="super-form-control">
                <label>Textarea</label>
                <textarea></textarea>
            </div>
        </div>
        <div class="cell-6--phone-up">
            <div class="super-form-control">
                <label>Textarea large</label>
                <textarea class="textarea-large"></textarea>
            </div>
        </div>

        <div class="cell-12"></div>

        <div class="cell-6--phone-up cell-3--tablet-up">
            <div class="super-form-control">
                <label>Form description</label>
                <input type="text">
                <div class="super-form-control__description">This is my description</div>
            </div>
        </div>
        <div class="cell-6--phone-up cell-3--tablet-up">
            <div class="super-form-control super-form-control--success">
                <label>Success</label>
                <input type="text">
            </div>
        </div>
        <div class="cell-6--phone-up cell-3--tablet-up">
            <div class="super-form-control super-form-control--error">
                <label>Error</label>
                <input type="text">
                <div class="super-form-control__error-message">This is the error message</div>
            </div>
        </div>
    </div>
</form>
