<div class="grid">
    <div class="cell-4"></div>
    <div class="cell-4"></div>
    <div class="cell-4"></div>
</div>
<div class="grid grid--demo">
    {% for i in 1..12 %}
        <div class="cell-12 cell-{{ i }}--phone-up">
            <div class="inner-cell">
                <mark>{{ i }}</mark>
            </div>
        </div>
        {% if 12 != i %}
            <div class="cell-12 cell-{{ 12 - i }}--phone-up">
                <div class="inner-cell">
                    <mark>{{ 12 - i }}</mark>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<h5>Basic usage</h5>
{{ pre('<div class="grid">
    <div class="cell-4--tablet-up"></div>
    <div class="cell-4--tablet-up"></div>
    <div class="cell-4--tablet-up"></div>
</div>') }}
<div class="grid grid--demo">
    <div class="cell-4--tablet-up">
        <div class="inner-cell"></div>
    </div>
    <div class="cell-4--tablet-up">
        <div class="inner-cell"></div>
    </div>
    <div class="cell-4--tablet-up">
        <div class="inner-cell"></div>
    </div>
</div>

<h5>Hide or show cells</h5>
{{ pre('<div class="grid">
    <div class="cell-4--tablet-up">Always show</div>
    <div class="cell-4--tablet-up cell-hide cell-show--phone-up">Show on tablet and up</div>
    <div class="cell-4--tablet-up cell-hide--phone-up">Show on phone only</div>
</div>') }}
<div class="grid grid--demo">
    <div class="cell-4--tablet-up">
        <div class="inner-cell inner-cell--green">Always show</div>
    </div>
    <div class="cell-4--tablet-up cell-hide cell-show--phone-up">
        <div class="inner-cell inner-cell--red">Show on tablet and up</div>
    </div>
    <div class="cell-4--tablet-up cell-hide--phone-up">
        <div class="inner-cell inner-cell--blue">Show on phone only</div>
    </div>
</div>

<h5>Horizontal align</h5>
{{ pre('<div class="grid-left">
    <div class="cell-4"> ... </div>
    <div class="cell-4"> ... </div>
</div>
<div class="grid-center">
    <div class="cell-4"> ... </div>
    <div class="cell-4"> ... </div>
</div>
<div class="grid-right">
    <div class="cell-4"> ... </div>
    <div class="cell-4"> ... </div>
</div>') }}
<div class="grid-left grid--demo">
    <div class="cell-4">
        <div class="inner-cell"></div>
    </div>
    <div class="cell-4">
        <div class="inner-cell"></div>
    </div>
</div>
<div class="grid-center grid--demo">
    <div class="cell-4">
        <div class="inner-cell"></div>
    </div>
    <div class="cell-4">
        <div class="inner-cell"></div>
    </div>
</div>
<div class="grid-right grid--demo">
    <div class="cell-4">
        <div class="inner-cell"></div>
    </div>
    <div class="cell-4">
        <div class="inner-cell"></div>
    </div>
</div>


<h5>Vertical align</h5>
{{ pre('<div class="grid-top">
    <div class="cell-4"></div>
    <div class="cell-4"></div>
    <div class="cell-4"></div>
</div>') }}
<div class="grid-top grid--demo grid--fixed-box">
    <div class="cell-4">
        <div class="inner-cell"></div>
    </div>
    <div class="cell-4">
        <div class="inner-cell"></div>
    </div>
    <div class="cell-4">
        <div class="inner-cell"></div>
    </div>
</div>

{{ pre('<div class="grid-middle">
    <div class="cell-4"></div>
    <div class="cell-4"></div>
    <div class="cell-4"></div>
</div>') }}
<div class="grid-middle grid--demo grid--fixed-box">
    <div class="cell-4">
        <div class="inner-cell"></div>
    </div>
    <div class="cell-4">
        <div class="inner-cell"></div>
    </div>
    <div class="cell-4">
        <div class="inner-cell"></div>
    </div>
</div>

{{ pre('<div class="grid-bottom">
    <div class="cell-4"></div>
    <div class="cell-4"></div>
    <div class="cell-4"></div>
</div>') }}
<div class="grid-bottom grid--demo grid--fixed-box">
    <div class="cell-4">
        <div class="inner-cell"></div>
    </div>
    <div class="cell-4">
        <div class="inner-cell"></div>
    </div>
    <div class="cell-4">
        <div class="inner-cell"></div>
    </div>
</div>

<h5>Individual vertical align</h5>
{{ pre('<div class="grid">
    <div class="cell-4 cell-top"></div>
    <div class="cell-4 cell-middle"></div>
    <div class="cell-4 cell-bottom"></div>
</div>') }}
<div class="grid grid--demo grid--fixed-box">
    <div class="cell-4 cell-top">
        <div class="inner-cell"></div>
    </div>
    <div class="cell-4 cell-middle">
        <div class="inner-cell"></div>
    </div>
    <div class="cell-4 cell-bottom">
        <div class="inner-cell"></div>
    </div>
</div>

<h5>Reverse</h5>
{{ pre('<div class="grid-row-reverse--tablet-up">
    <div class="cell-4 cell-top"></div>
    <div class="cell-4 cell-middle"></div>
    <div class="cell-4 cell-bottom"></div>
</div>') }}
<div class="grid-row-reverse--tablet-up grid--demo">
    <div class="cell-4">
        <div class="inner-cell">
            <mark>first</mark>
        </div>
    </div>
    <div class="cell-4">
        <div class="inner-cell">
            <mark>second</mark>
        </div>
    </div>
    <div class="cell-4">
        <div class="inner-cell">
            <mark>third</mark>
        </div>
    </div>
</div>

<h5>Space around</h5>
{{ pre('<div class="grid-space-around">
    <div class="cell-2"></div>
    <div class="cell-2"></div>
    <div class="cell-2"></div>
</div>') }}
<div class="grid-space-around grid--demo">
    <div class="cell-2">
        <div class="inner-cell"></div>
    </div>
    <div class="cell-2">
        <div class="inner-cell"></div>
    </div>
    <div class="cell-2">
        <div class="inner-cell"></div>
    </div>
</div>

<h5>Space between</h5>
{{ pre('<div class="grid-space-between">
    <div class="cell-2"></div>
    <div class="cell-2"></div>
    <div class="cell-2"></div>
</div>') }}
<div class="grid-space-between grid--demo">
    <div class="cell-2">
        <div class="inner-cell"></div>
    </div>
    <div class="cell-2">
        <div class="inner-cell"></div>
    </div>
    <div class="cell-2">
        <div class="inner-cell"></div>
    </div>
</div>

<h5>Small gap space</h5>
{{ pre('<div class="grid-gap-small">
    <div class="cell-4"></div>
    <div class="cell-4"></div>
    <div class="cell-4"></div>
</div>') }}
<div class="grid-gap-small grid--demo">
    <div class="cell-4">
        <div class="inner-cell"></div>
    </div>
    <div class="cell-4">
        <div class="inner-cell"></div>
    </div>
    <div class="cell-4">
        <div class="inner-cell"></div>
    </div>
</div>

<h5>Large gap space</h5>
{{ pre('<div class="grid-gap-large">
    <div class="cell-4"></div>
    <div class="cell-4"></div>
    <div class="cell-4"></div>
</div>') }}
<div class="grid-gap-large grid--demo">
    <div class="cell-4">
        <div class="inner-cell"></div>
    </div>
    <div class="cell-4">
        <div class="inner-cell"></div>
    </div>
    <div class="cell-4">
        <div class="inner-cell"></div>
    </div>
</div>

<h5>Vertical direction</h5>
{{ pre('<div class="grid-vertical">
    <div class="cell-4">first</div>
    <div class="cell-4">second</div>
    <div class="cell-4">third</div>
</div>') }}
<div class="grid-vertical grid--demo">
    <div class="cell-4">
        <div class="inner-cell">first</div>
    </div>
    <div class="cell-4">
        <div class="inner-cell">second</div>
    </div>
    <div class="cell-4">
        <div class="inner-cell">third</div>
    </div>
</div>

<h5>Vertical direction - reverse</h5>
{{ pre('<div class="grid-vertical">
    <div class="cell-4">first</div>
    <div class="cell-4">second</div>
    <div class="cell-4">third</div>
</div>') }}
<div class="grid-vertical-reverse grid--demo">
    <div class="cell-4">
        <div class="inner-cell">first</div>
    </div>
    <div class="cell-4">
        <div class="inner-cell">second</div>
    </div>
    <div class="cell-4">
        <div class="inner-cell">third</div>
    </div>
</div>

<h5>Number of columns</h5>
{{ pre('<div class="grid-6columns">
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
</div>

<div class="grid-5columns">
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
</div>

....') }}
<div class="grid-6columns grid--demo">
    {% for i in 1..6 %}
        <div class="cell">
            <div class="inner-cell"></div>
        </div>
    {% endfor %}
</div>

<div class="grid-5columns grid--demo">
    {% for i in 1..5 %}
        <div class="cell">
            <div class="inner-cell"></div>
        </div>
    {% endfor %}
</div>

<div class="grid-4columns grid--demo">
    {% for i in 1..4 %}
        <div class="cell">
            <div class="inner-cell"></div>
        </div>
    {% endfor %}
</div>

<div class="grid-3columns grid--demo">
    {% for i in 1..3 %}
        <div class="cell">
            <div class="inner-cell"></div>
        </div>
    {% endfor %}
</div>

<div class="grid-2columns grid--demo">
    {% for i in 1..2 %}
        <div class="cell">
            <div class="inner-cell"></div>
        </div>
    {% endfor %}
</div>

<div class="grid-1column grid--demo">
    <div class="cell">
        <div class="inner-cell"></div>
    </div>
</div>


<h5>Auto cell size</h5>
{{ pre('<div class="grid">
    <div class="cell-auto"></div>
    <div class="cell-fill"></div>
    <div class="cell-auto"></div>
</div>') }}
<div class="grid grid--demo">
    <div class="cell-auto">
        <div class="inner-cell">auto size</div>
    </div>
    <div class="cell-fill">
        <div class="inner-cell">fill extra space</div>
    </div>
    <div class="cell-auto">
        <div class="inner-cell">auto size</div>
    </div>
</div>
