<div class="grid-2columns--phone-up">
    <div>
        <h1>Heading one</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
        <h2>Heading two</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
        <h3>Heading three</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
    </div>
    <div>
        <h4>Heading four</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip.</p>
        <h5>Heading five</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip.</p>
        <h6>Heading six</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip.</p>
    </div>
</div>

<div class="grid-2columns--phone-up">
    <div class="cell-12">
        <h5>Lists</h5>
    </div>
    <div>
        <strong>Unordered list type:</strong>
        <ul>
            <li>Ut enim ad minim veniam, quis nostrud.</li>
            <li>Ut enim ad minim veniam, quis nostrud.</li>
            <li>Ut enim ad minim veniam, quis nostrud.
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
            </li>
            <li>Ut enim ad minim veniam, quis nostrud.</li>
            <li>Ut enim ad minim veniam, quis nostrud.</li>
        </ul>
    </div>
    <div>
        <strong>Ordered list type:</strong>
        <ol>
            <li>Ut enim ad minim veniam, quis nostrud.</li>
            <li>Ut enim ad minim veniam, quis nostrud.</li>
            <li>Ut enim ad minim veniam, quis nostrud.
                <ol>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ol>
            </li>
            <li>Ut enim ad minim veniam, quis nostrud.</li>
            <li>Ut enim ad minim veniam, quis nostrud.</li>
        </ol>
    </div>
    <div>
        <h5>Anchor Tag (aka. Link):</h5>
        <p>This is an example of a <a title="Google" href="http://google.com">hyperlink</a>. Use it to create a
            connection between two or more pages.</p>

        <h5>Abbreviation:</h5>
        <p>In computing, a <abbr title="denial-of-service">DoS</abbr> or <abbr title="distributed denial-of-service">DDoS</abbr>
            attack is an attempt to make a machine or network resource unavailable to its intended users.</p>

        <h5>Acronym:</h5>
        <p>The acronym <acronym title="As far as I know">afaik</acronym> stands for "As far as I know".</p>

        <h5>Code:</h5>
        <p>You will learn later on in these tests that <code>word-wrap: break-word;</code> will be your best friend.</p>

        <h5>Del tag:</h5>
        <p>Ticket
            <del>#29095</del>
            (The get/set_user_setting fails on multisite/network with sub-domains) closed
        </p>

        <h5>Emphasize Tag</h5>
        <p>The emphasize tag should <em>italicize</em> text.</p>

        <h5>Keyboard Tag</h5>
        <p>This scarsly known tag emulates keyboard text, which is usually styled like the <code>&lt;code&gt;</code>
            tag. Example: <kbd>ctrl</kbd> + <kbd>shift</kbd> + <kbd>del</kbd></p>

        <h5>Preformatted Tag</h5>
        <p>This tag styles large blocks of code.</p>

        <pre>.post-title {
	margin: 0 0 5px;
	font-weight: bold;
	font-size: 38px;
	line-height: 1.2;
}</pre>
    </div>
    <div>
        <h5>Quote Tag</h5>
        <p><q>Lead, follow, or get out of the way.</q> – Laurence J. Peter</p>

        <h5>BlockQuote Tag</h5>
        <blockquote>
            You have to learn the rules of the game. And then you have to play better than anyone else.<br>
            <cite>Albert Einstein</cite>
        </blockquote>

        <h5>Strong Tag</h5>
        <p>This tag shows <strong>bold</strong> text.</p>

        <h5>Subscript Tag</h5>
        <p>Getting our science styling on with H<sub>2</sub>O, which should push the “2″ down.</p>

        <h5>Superscript Tag</h5>
        <p>Still sticking with science and Isaac Newton’s E = MC<sup>2</sup>, which should lift the 2 up.</p>

        <h5>Teletype Tag</h5>
        <p>This rarely used tag emulates <tt>teletype text</tt>, which is usually styled like the
            <code>&lt;code&gt;</code> tag.</p>

        <h5>Variable Tag</h5>
        <p>This allows you to denote <var>variables</var>.</p>

        <h5>Insert Tag</h5>
        <p>This tag should denote
            <ins>inserted</ins>
            text.
        </p>
    </div>
</div>
