{% set close_previous_block = '</section>' %} {#.site-container#}
{% set open_next_block = '<section class="site-container super-container--space-normal">' %}

{#Section ID#}
{% set id = super._blockId ? 'id="' ~super._blockId ~'"' : '' %}

{#Spacing#}
{% set topSpace = super._topSpace ? " super-container--top-space-" ~super._topSpace : '' %}
{% set bottomSpace = super._bottomSpace ? " super-container--bottom-space-" ~super._bottomSpace : '' %}

{#Width#}
{% set blockWidthClass = super._blockWidth ? ' super-container--' ~ super._blockWidth : '' %}

{#HTML Structure#}
{{ close_previous_block }}

{% block before_block %}{% endblock %}

{% block block %}
    <section {{ id }} class="super-block {{ block_class }} super-block--{{ super._unique_block_id }} {{ super.className ?: '' }}">
        {{ fn('do_action', 'super_block_top', super) }}
        {% block block_open %}{% endblock %}

        {% block block_container %}
            <div class="super-container super-container--space-normal {{ topSpace }}{{ bottomSpace }}{{ blockWidthClass }}">
                {% block block_content %}{% endblock %}
            </div>
        {% endblock %}

        {% block block_close %}{% endblock %}
        {{ fn('do_action', 'super_block_bottom', super) }}
    </section>
{% endblock %}
{% block after_block %}{% endblock %}

{{ open_next_block }}
