.super-block--testing
    position: relative

    .grid--demo
        margin-top: 20px
        margin-bottom: 20px

        &.grid--fixed-box
            margin-left: auto
            margin-right: auto
            padding: 15px 10px
            border: 1px solid #cccccc
            border-radius: 5px
            min-height: 200px

        [class*='cell'] .inner-cell
            position: relative
            padding: 1.6rem 0.8rem
            margin-top: .5rem
            margin-bottom: .5rem
            background: #dddddd

            &--green
                background: $color-green
                color: #fff

            &--red
                background: $color-red
                color: #fff

            &--blue
                background: $color-blue
                color: #fff

            mark
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                background: transparent
                color: $color-black
