{% extends 'wp-blocks/base-block.twig' %}

{% set block_class = 'super-block--testing' %}

{% block block_content %}
    <h2>Typography</h2>

    {% include 'wp-blocks/testing/part/typography.twig' %}

    <hr>

    <h2>Grid system</h2>
    {% include 'wp-blocks/testing/part/grid.twig' %}

    <hr>

    <h2>Buttons</h2>
    {% include 'wp-blocks/testing/part/buttons.twig' %}

    <hr>

    <h2>Forms</h2>
    {% include 'wp-blocks/testing/part/forms.twig' %}
    <hr>

    <h2>Tables</h2>
    {% include 'wp-blocks/testing/part/tables.twig' %}
{% endblock %}
