.super-block--headline
    position: relative

    h1, h2, h3
        margin: 0 0 10px

    p
        margin: 3px 0

.super-headline-description
    font-size: $font-size-lg
    font-family: $font-family-heading
    color: inherit
    filter: contrast(70%)
    font-weight: 300
    margin-top: 2rem
    max-width: 80%

.super-headline-align
    &--center
        text-align: center

        .super-headline-description
            margin-left: auto
            margin-right: auto

    &--left
        text-align: left

        .super-headline-description
            margin-left: 0
            margin-right: auto

    &--right
        text-align: right

        .super-headline-description
            margin-left: auto
            margin-right: 0

    &--initial
        text-align: initial
        .super-headline-description
            margin-left: 0
            margin-right: auto
