{% extends 'wp-blocks/base-block.twig' %}
{% set block_class = 'super-block--headline' %}

{% block block_content %}
    {% set tag = super.tag ?: 'h2' %}
    {% set openTag = "<"~ tag ~">" %}
    {% set closeTag = "</"~ tag ~">" %}
    {% set align = super.align ?: 'auto' %}

    <div class="super-headline-align--{{ align }}">
        {{ openTag }}{{ super.title }}{{ closeTag }}
        {% if super.description %}
            <div class="super-headline-description">
                {{ super.description }}
            </div>
        {% endif %}
    </div>
{% endblock %}
