{% extends 'wp-blocks/base-block.twig' %}
{% set block_class = 'super-block--group' %}

{% block block_container %}
    <div class="super-container super-container--space-normal {{ topSpace }}{{ bottomSpace }}{{ blockWidthClass }}">
        {{ open_next_block }}
        {{ innerBlocks }}
        {{ close_previous_block }}
    </div>
{% endblock %}
